<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>1:1 상담</title>
    <link rel="stylesheet" href="../../dist/main.css" />
  </head>
  <body>
    <div class="cont">
      <!-- Header -->
      <header class="header">
        <div class="wrap-header">
          <div class="wrap-mo">
            <a href="#" class="tit1"><h1>하늘누리 추모공원</h1></a>
            <button type="button" class="btn-menu">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
              >
                <path
                  d="M3 16H29"
                  stroke="#333333"
                  stroke-width="2"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                />
                <path
                  d="M3 26H29"
                  stroke="#333333"
                  stroke-width="2"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                />
                <path
                  d="M3 6H29"
                  stroke="#333333"
                  stroke-width="2"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                />
              </svg>
            </button>
          </div>
          <div class="wrap-pc">
            <div class="wrap-header-account">
              <a href="#" class="tit1"><h1>하늘누리 추모공원</h1></a>
              <div class="wrap-account">
                <a href="#" class="item">회원가입</a>
                <a href="#" class="item">로그인</a>
              </div>
            </div>
            <nav class="lnb">
              <a href="#" class="item">하늘누리소개</a>
              <a href="#" class="item">시설안내</a>
              <a href="#" class="item">분양안내</a>
              <a href="#" class="item">사이버추모관</a>
              <a href="#" class="item">고객센터</a>
            </nav>
          </div>
        </div>
      </header>
      <!-- Body -->
      <main>
        <div class="main">
          <div class="breadcrumb">
            <a href="#" class="item">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
              >
                <path
                  d="M2 5.99992L8 1.33325L14 5.99992V13.3333C14 13.6869 13.8595 14.026 13.6095 14.2761C13.3594 14.5261 13.0203 14.6666 12.6667 14.6666H3.33333C2.97971 14.6666 2.64057 14.5261 2.39052 14.2761C2.14048 14.026 2 13.6869 2 13.3333V5.99992Z"
                  stroke="#333333"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6 14.6667V8H10V14.6667"
                  stroke="#333333"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
            <a href="#" class="item">고객센터</a>
            <a href="#" class="item">1:1 상담</a>
          </div>
          <div class="wrap-tit">
            <h2 class="tit2">1:1 상담</h2>
            <div class="tit2-sub">
              “마음을 다해 듣고, 정성을 다해 답하겠습니다.”
            </div>
            <div class="desc">
              말로 다 전하기 어려운 유족분들의 고민과 궁금증을 귀 기울여
              듣겠습니다. 하늘누리가 가족의 마음으로 함께 고민하고 답변해
              드립니다.
            </div>
          </div>
          <div class="wrap-btn">
            <button type="button" class="btn h56 full">나의 상담 보기</button>
          </div>
          <div class="wrap-login customer">
            <div class="login-cont">
              <form action="" class="form-login">
                <div class="form-tit">작성자</div>
                <div class="input-group">
                  <input
                    type="text"
                    class="input-box"
                    placeholder="작성자 이름을 입력해주세요."
                  />
                </div>
                <div class="form-tit">E-Mail</div>
                <div class="input-group">
                  <input
                    type="email"
                    class="input-box"
                    placeholder="E-Mail을 입력해주세요."
                  />
                </div>
                <div class="form-tit required">제목</div>
                <div class="input-group">
                  <!-- ToDo: input 내용에 error 발생시 form에 .input-error 추가/삭제 -->
                  <input
                    type="text"
                    class="input-box input-error"
                    placeholder="제목을 입력해주세요."
                  />
                  <span class="error-message error-m">
                    <span class="error-icon">!</span>
                    제목을 입력해주세요.
                  </span>
                </div>
                <div class="form-tit required">문의내용</div>
                <div class="input-group">
                  <!-- ToDo: input 내용에 error 발생시 form에 .input-error 추가/삭제 -->
                  <textarea
                    class="input-box input-box--textarea input-error"
                    placeholder="문의내용을 입력하세요."
                  ></textarea>
                  <span class="error-message error-m">
                    <span class="error-icon">!</span>
                    문의내용을 입력해주세요.
                  </span>
                </div>
                <div class="wrap-btn">
                  <button type="button" class="btn h56 full">
                    <span>취소</span>
                  </button>
                  <button type="button" class="btn primary h56 full">
                    <span>작성완료</span>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </main>
      <!-- Footer -->
      <footer class="footer">
        <div class="wrap-footer">
          <h2 class="tit2">하늘누리 추모공원</h2>
          <div class="wrap-compony">
            <div class="wrap-terms">
              <a class="item" href="#">서비스 이용약관</a>
              <a class="item" href="#">개인정보 처리방침</a>
            </div>
            <div class="wrap-info">
              <div class="text">
                <strong>재단법인 하늘누리 추모공원</strong>
              </div>
              <div class="wrap-text">
                <div class="text">
                  <span>사업자등록번호</span><strong>155-77-88888</strong>
                </div>
                <div class="text">
                  <span>대표번호</span><strong>031-999-9999</strong>
                </div>
                <div class="text">
                  <span>주소</span><strong>경기도 양주시 산북동 산67-20</strong>
                </div>
              </div>
            </div>
            <div class="copyright">
              Copyright 2026 haneulnuri. All Right Reserved
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
