<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <link rel="stylesheet" href="../../dist/main.css" />
  </head>
  <body>
    <div class="cont">
      <!-- Header -->
      <header class="header">
        <div class="wrap-header">
          <div class="wrap-mo">
            <a href="#" class="tit1"><h1>하늘누리 추모공원</h1></a>
            <button type="button" class="btn-menu">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
              >
                <path
                  d="M3 16H29"
                  stroke="#333333"
                  stroke-width="2"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                />
                <path
                  d="M3 26H29"
                  stroke="#333333"
                  stroke-width="2"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                />
                <path
                  d="M3 6H29"
                  stroke="#333333"
                  stroke-width="2"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                />
              </svg>
            </button>
          </div>
          <div class="wrap-pc">
            <div class="wrap-header-account">
              <a href="#" class="tit1"><h1>하늘누리 추모공원</h1></a>
              <div class="wrap-account">
                <a href="#" class="item">회원가입</a>
                <a href="#" class="item">로그인</a>
              </div>
            </div>
            <nav class="lnb">
              <a href="#" class="item">하늘누리소개</a>
              <a href="#" class="item">시설안내</a>
              <a href="#" class="item">분양안내</a>
              <a href="#" class="item">사이버추모관</a>
              <a href="#" class="item">고객센터</a>
            </nav>
          </div>
        </div>
      </header>
      <!-- Body -->
      <main>
        <div class="main">
          <div class="breadcrumb">
            <a href="#" class="item">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
              >
                <path
                  d="M2 5.99992L8 1.33325L14 5.99992V13.3333C14 13.6869 13.8595 14.026 13.6095 14.2761C13.3594 14.5261 13.0203 14.6666 12.6667 14.6666H3.33333C2.97971 14.6666 2.64057 14.5261 2.39052 14.2761C2.14048 14.026 2 13.6869 2 13.3333V5.99992Z"
                  stroke="#333333"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6 14.6667V8H10V14.6667"
                  stroke="#333333"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
            <a href="#" class="item">회원가입</a>
          </div>
          <div class="wrap-tit">
            <h2 class="tit2">회원가입</h2>
            <div class="tit2-sub">
              회원가입을 하시면 하늘편지와 같은 온라인 추모관 및 다양한 서비스를
              이용하실 수 있습니다.
            </div>
          </div>
          <div class="wrap-step">
            <!-- ToDo: 현재 활성화 된 step일때 .active 추가/삭제, 완료된 step일때 .done 추가/삭제 -->
            <div class="item active">
              <!-- stroke="#65451E" -->
              <div class="step">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                >
                  <path
                    d="M3.42773 9.85714L8.57059 15L17.5706 6"
                    stroke="#CCC"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <span class="text">1. 약관동의</span>
            </div>
            <!-- ToDo: 현재 활성화 된 step일때 .active 추가/삭제, 완료된 step일때 .done 추가/삭제 -->
            <div class="item">
              <!-- stroke="#65451E" -->
              <div class="step">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                >
                  <path
                    d="M3.42773 9.85714L8.57059 15L17.5706 6"
                    stroke="#CCC"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <span class="text">2. 정보입력</span>
            </div>
            <!-- ToDo: 현재 활성화 된 step일때 .active 추가/삭제, 완료된 step일때 .done 추가/삭제 -->
            <div class="item">
              <!-- stroke="#65451E" -->
              <div class="step">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 20 20"
                  fill="none"
                >
                  <path
                    d="M3.42773 9.85714L8.57059 15L17.5706 6"
                    stroke="#CCC"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
              <span class="text">3. 가입완료</span>
            </div>
          </div>
          <div class="wrap-tems-tit">
            <div class="tit">서비스 이용약관</div>
            <div class="checkbox-group">
              <div class="checkbox-list">
                <label class="checkbox-item w24">
                  <input type="checkbox" class="checkbox-input" />
                  <span class="checkbox-label">동의합니다.</span>
                </label>
              </div>
            </div>
          </div>
          <div class="terms-box">test</div>
          <div class="wrap-tems-tit">
            <div class="tit">개인정보 처리방침</div>
            <div class="checkbox-group">
              <div class="checkbox-list">
                <label class="checkbox-item w24">
                  <input type="checkbox" class="checkbox-input" />
                  <span class="checkbox-label">동의합니다.</span>
                </label>
              </div>
            </div>
          </div>
          <div class="terms-box">test</div>
          <!-- 모든 약관 동의 -->
          <div class="checkbox-group all-agree">
            <div class="checkbox-list">
              <label class="checkbox-item w24">
                <input type="checkbox" class="checkbox-input" />
                <span class="checkbox-label">모든 약관에 동의합니다.</span>
              </label>
            </div>
          </div>
          <div class="wrap-btn-bottom">
            <button type="button" class="btn primary h56">
              <span>다음</span>
            </button>
          </div>
        </div>
      </main>
      <!-- Footer -->
      <footer class="footer">
        <div class="wrap-footer">
          <h2 class="tit2">하늘누리 추모공원</h2>
          <div class="wrap-compony">
            <div class="wrap-terms">
              <a class="item" href="#">서비스 이용약관</a>
              <a class="item" href="#">개인정보 처리방침</a>
            </div>
            <div class="wrap-info">
              <div class="text">
                <strong>재단법인 하늘누리 추모공원</strong>
              </div>
              <div class="wrap-text">
                <div class="text">
                  <span>사업자등록번호</span><strong>155-77-88888</strong>
                </div>
                <div class="text">
                  <span>대표번호</span><strong>031-999-9999</strong>
                </div>
                <div class="text">
                  <span>주소</span><strong>경기도 양주시 산북동 산67-20</strong>
                </div>
              </div>
            </div>
            <div class="copyright">
              Copyright 2026 haneulnuri. All Right Reserved
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
