<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공지사항</title>
    <link rel="stylesheet" href="../../dist/main.css" />
  </head>
  <body>
    <div class="cont">
      <!-- Header -->
      <header class="header">
        <div class="wrap-header">
          <div class="wrap-mo">
            <a href="#" class="tit1"><h1>하늘누리 추모공원</h1></a>
            <button type="button" class="btn-menu">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
              >
                <path
                  d="M3 16H29"
                  stroke="#333333"
                  stroke-width="2"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                />
                <path
                  d="M3 26H29"
                  stroke="#333333"
                  stroke-width="2"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                />
                <path
                  d="M3 6H29"
                  stroke="#333333"
                  stroke-width="2"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                />
              </svg>
            </button>
          </div>
          <div class="wrap-pc">
            <div class="wrap-header-account">
              <a href="#" class="tit1"><h1>하늘누리 추모공원</h1></a>
              <div class="wrap-account">
                <a href="#" class="item">회원가입</a>
                <a href="#" class="item">로그인</a>
              </div>
            </div>
            <nav class="lnb">
              <a href="#" class="item">하늘누리소개</a>
              <a href="#" class="item">시설안내</a>
              <a href="#" class="item">분양안내</a>
              <a href="#" class="item">사이버추모관</a>
              <a href="#" class="item">고객센터</a>
            </nav>
          </div>
        </div>
      </header>
      <!-- Body -->
      <main>
        <div class="main">
          <div class="breadcrumb">
            <a href="#" class="item">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
              >
                <path
                  d="M2 5.99992L8 1.33325L14 5.99992V13.3333C14 13.6869 13.8595 14.026 13.6095 14.2761C13.3594 14.5261 13.0203 14.6666 12.6667 14.6666H3.33333C2.97971 14.6666 2.64057 14.5261 2.39052 14.2761C2.14048 14.026 2 13.6869 2 13.3333V5.99992Z"
                  stroke="#333333"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6 14.6667V8H10V14.6667"
                  stroke="#333333"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
            <a href="#" class="item">고객센터</a>
            <a href="#" class="item">공지사항</a>
          </div>
          <div class="wrap-tit">
            <h2 class="tit2">공지사항</h2>
            <div class="tit2-sub">
              "하늘누리의 새로운 소식과 정성 어린 안내를 전합니다."
            </div>
            <div class="desc">
              유족분들의 소중한 걸음이 헛되지 않도록, 공원의 운영 일정과 주요
              안내 사항을 가장 정직하고 세심하게 전달해 드리겠습니다.
            </div>
          </div>
        </div>
        <div class="main">
          <div class="wrap-notice-lists">
            <div class="notice-view">
              <div class="wrap-notice-tit">
                <div class="tit">하늘누리에서 알려드립니다.</div>
                <div class="date">2026-03-11</div>
              </div>
              <div class="wrap-notice-content">
                <p>고객여러분 안녕하세요.</p>
                <p>하늘누리 추모공원이 완공되었습니다.</p>
                <p>
                  유족분들의 소중한 걸음이 헛되지 않도록, 공원의 운영 일정과
                  주요 안내 사항을 가장 정직하고 세심하게 전달해 드리겠습니다.
                  궁금한 점이 있으시면, 하늘누리 관리실로 연락 주시기 바랍니다.
                </p>
                <p>
                  유족분들의 소중한 걸음이 헛되지 않도록, 공원의 운영 일정과
                  주요 안내 사항을 가장 정직하고 세심하게 전달해 드리겠습니다.
                  궁금한 점이 있으시면, 하늘누리 관리실로 연락 주시기 바랍니다.
                </p>
              </div>
              <div class="wrap-notice-attached">
                <div class="attached-tit-text">첨부파일</div>
                <button type="button" class="wrap-attach">
                  <div class="attach-text">하늘누리 추모공원 안내문.pdf</div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="36"
                    height="32"
                    viewBox="0 0 36 32"
                    fill="none"
                  >
                    <rect
                      x="0.5"
                      y="0.5"
                      width="35"
                      height="31"
                      rx="1.5"
                      fill="white"
                    />
                    <rect
                      x="0.5"
                      y="0.5"
                      width="35"
                      height="31"
                      rx="1.5"
                      stroke="#CCCCCC"
                    />
                    <path
                      d="M11 23H25"
                      stroke="#2D2D2D"
                      stroke-width="1.6"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M13 15L18 20L23 15"
                      stroke="#2D2D2D"
                      stroke-width="1.6"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M18 20V9"
                      stroke="#2D2D2D"
                      stroke-width="1.6"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </button>
              </div>
            </div>
            <div class="wrap-btn">
              <button type="button" class="btn primary h56">
                <span>목록</span>
              </button>
            </div>
          </div>
        </div>
      </main>
      <!-- Footer -->
      <footer class="footer">
        <div class="wrap-footer">
          <h2 class="tit2">하늘누리 추모공원</h2>
          <div class="wrap-compony">
            <div class="wrap-terms">
              <a class="item" href="#">서비스 이용약관</a>
              <a class="item" href="#">개인정보 처리방침</a>
            </div>
            <div class="wrap-info">
              <div class="text">
                <strong>재단법인 하늘누리 추모공원</strong>
              </div>
              <div class="wrap-text">
                <div class="text">
                  <span>사업자등록번호</span><strong>155-77-88888</strong>
                </div>
                <div class="text">
                  <span>대표번호</span><strong>031-999-9999</strong>
                </div>
                <div class="text">
                  <span>주소</span><strong>경기도 양주시 산북동 산67-20</strong>
                </div>
              </div>
            </div>
            <div class="copyright">
              Copyright 2026 haneulnuri. All Right Reserved
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
