<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>재단/허가 현황</title>
    <link rel="stylesheet" href="../../dist/main.css" />
  </head>
  <body>
    <div class="cont">
      <!-- Header -->
      <header class="header">
        <div class="wrap-header">
          <div class="wrap-mo">
            <a href="#" class="tit1"><h1>하늘누리 추모공원</h1></a>
            <button type="button" class="btn-menu">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
              >
                <path
                  d="M3 16H29"
                  stroke="#333333"
                  stroke-width="2"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                />
                <path
                  d="M3 26H29"
                  stroke="#333333"
                  stroke-width="2"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                />
                <path
                  d="M3 6H29"
                  stroke="#333333"
                  stroke-width="2"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                />
              </svg>
            </button>
          </div>
          <div class="wrap-pc">
            <div class="wrap-header-account">
              <a href="#" class="tit1"><h1>하늘누리 추모공원</h1></a>
              <div class="wrap-account">
                <a href="#" class="item">회원가입</a>
                <a href="#" class="item">로그인</a>
              </div>
            </div>
            <nav class="lnb">
              <a href="#" class="item">하늘누리소개</a>
              <a href="#" class="item">시설안내</a>
              <a href="#" class="item">분양안내</a>
              <a href="#" class="item">사이버추모관</a>
              <a href="#" class="item">고객센터</a>
            </nav>
          </div>
        </div>
      </header>
      <!-- Body -->
      <main>
        <div class="main">
          <div class="breadcrumb">
            <a href="#" class="item">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
              >
                <path
                  d="M2 5.99992L8 1.33325L14 5.99992V13.3333C14 13.6869 13.8595 14.026 13.6095 14.2761C13.3594 14.5261 13.0203 14.6666 12.6667 14.6666H3.33333C2.97971 14.6666 2.64057 14.5261 2.39052 14.2761C2.14048 14.026 2 13.6869 2 13.3333V5.99992Z"
                  stroke="#333333"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6 14.6667V8H10V14.6667"
                  stroke="#333333"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
            <a href="#" class="item">재단/허가 현황</a>
          </div>
          <div class="wrap-tit">
            <h2 class="tit2">재단/허가 현황</h2>
            <div class="tit2-sub">
              “투명한 인허가 절차를 통해 증명된 준비된 추모 공간”
            </div>
            <div class="desc">
              하늘누리 추모공원은 토지 확보부터 도시계획시설 결정, 환경영향평가
              및 최종 설치 허가에 이르기까지 모든 행정 절차를 적법하게
              완수하였습니다.
            </div>
          </div>
        </div>
        <div class="wrap-main-img permission01"></div>
        <div class="wrap-story-info">
          <img
            class="img-part"
            src="../img/img_permission_part01.png"
            alt="재단법인 하늘누리"
          />
          <div class="wrap-info-text">
            <div class="tit">재단법인 하늘누리</div>
            <div class="desc">세대를 넘어 이어지는 책임</div>
            <div class="desc-sub">
              하늘누리 추모공원은 재단법인으로 운영됩니다.<br />재단법인은 일반
              기업과 달리<br />"공익 목적"을 위해 설립된 비영리 법인으로<br />
              파산이나 폐업의 위험이 없으며<br />세대를 넘어 영속적으로
              운영됩니다.<br /><br />이는 고객님께서 안치하신 고인을<br />영원히
              책임지고 관리하겠다는<br />
              하늘누리의 약속입니다.
            </div>
          </div>
        </div>
        <div class="wrap-info-outter">
          <div class="wrap-foundation-info">
            <div class="tit-info">재단정보</div>
            <div class="wrap-info">
              <div class="info-list">
                <div class="item">
                  <div class="item-tit">법인명</div>
                  <div class="item-desc">재단법인 하늘누리</div>
                </div>
                <div class="item">
                  <div class="item-tit">설립목적</div>
                  <div class="item-desc">
                    장사시설의 설치 및 운영을 통한 국민 복지 증진 및 추모 문화
                    발전
                  </div>
                </div>
                <div class="item">
                  <div class="item-tit">설립인가</div>
                  <div class="item-desc">
                    20OO년 ○월 ○일 | ○○시청 인가 제2020-○○호
                  </div>
                </div>
              </div>
              <div class="info-list">
                <div class="item">
                  <div class="item-tit">법인등록번호</div>
                  <div class="item-desc">XXX-XX-XXXXX</div>
                </div>
                <div class="item">
                  <div class="item-tit">대표이사</div>
                  <div class="item-desc">OOO</div>
                </div>
                <div class="item">
                  <div class="item-tit">소재지</div>
                  <div class="item-desc">경기도 양주시 산북동 산67-20</div>
                </div>
                <div class="item">
                  <div class="item-tit">감독기관</div>
                  <div class="item-desc">OO시청(보건복지과)</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="wrap-story-info">
          <img
            class="img-part"
            src="../img/img_permission_part02.png"
            alt="재단법인의 법적 특성"
          />
          <div class="wrap-info-text">
            <div class="tit">재단법인의 법적 특성</div>
            <div class="desc">영속성 보장</div>
            <div class="desc-sub">
              법적으로 영구적 존속이 보장되며 대표이사 교체와 무관하게 계속
              운영됩니다.
            </div>
            <div class="desc">비영리 구조</div>
            <div class="desc-sub">
              수익금은 주주 배당이 아닌 시설 개선과 서비스 향상에 재투자됩니다.
            </div>
            <div class="desc">공적 감독</div>
            <div class="desc-sub">
              정부 감독기관의 지속적 관리·감독을 받으며 투명한 운영이 법적으로
              강제됩니다.
            </div>
            <div class="desc">자산 보호</div>
            <div class="desc-sub">
              재단 자산은 법적으로 보호되며 임의 처분이 불가능합니다.
            </div>
          </div>
        </div>
        <div class="wrap-info-outter"></div>
        <div class="main">
          <div class="wrap-tit">
            <h2 class="tit2">주요 허가 및 인증</h2>
            <div class="tit2-sub">필수 허가 사항</div>
          </div>
        </div>
        <div class="wrap-main-img permission02"></div>
        <div class="main">
          <div class="wrap-tit">
            <h2 class="tit2">주요 인증 및 등록</h2>
          </div>
        </div>
        <div class="wrap-main-img permission03"></div>
      </main>
      <!-- Footer -->
      <footer class="footer">
        <div class="wrap-footer">
          <h2 class="tit2">하늘누리 추모공원</h2>
          <div class="wrap-compony">
            <div class="wrap-terms">
              <a class="item" href="#">서비스 이용약관</a>
              <a class="item" href="#">개인정보 처리방침</a>
            </div>
            <div class="wrap-info">
              <div class="text">
                <strong>재단법인 하늘누리 추모공원</strong>
              </div>
              <div class="wrap-text">
                <div class="text">
                  <span>사업자등록번호</span><strong>155-77-88888</strong>
                </div>
                <div class="text">
                  <span>대표번호</span><strong>031-999-9999</strong>
                </div>
                <div class="text">
                  <span>주소</span><strong>경기도 양주시 산북동 산67-20</strong>
                </div>
              </div>
            </div>
            <div class="copyright">
              Copyright 2026 haneulnuri. All Right Reserved
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
