<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>개인정보 처리방침</title>
    <link rel="stylesheet" href="../../dist/main.css" />
  </head>
  <body>
    <div class="cont">
      <!-- Header -->
      <header class="header">
        <div class="wrap-header">
          <div class="wrap-mo">
            <a href="#" class="tit1"><h1>하늘누리 추모공원</h1></a>
            <button type="button" class="btn-menu">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
              >
                <path
                  d="M3 16H29"
                  stroke="#333333"
                  stroke-width="2"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                />
                <path
                  d="M3 26H29"
                  stroke="#333333"
                  stroke-width="2"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                />
                <path
                  d="M3 6H29"
                  stroke="#333333"
                  stroke-width="2"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                />
              </svg>
            </button>
          </div>
          <div class="wrap-pc">
            <div class="wrap-header-account">
              <a href="#" class="tit1"><h1>하늘누리 추모공원</h1></a>
              <div class="wrap-account">
                <a href="#" class="item">회원가입</a>
                <a href="#" class="item">로그인</a>
              </div>
            </div>
            <nav class="lnb">
              <a href="#" class="item">하늘누리소개</a>
              <a href="#" class="item">시설안내</a>
              <a href="#" class="item">분양안내</a>
              <a href="#" class="item">사이버추모관</a>
              <a href="#" class="item">고객센터</a>
            </nav>
          </div>
        </div>
      </header>
      <!-- Body -->
      <main>
        <div class="main">
          <div class="breadcrumb">
            <a href="#" class="item">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
              >
                <path
                  d="M2 5.99992L8 1.33325L14 5.99992V13.3333C14 13.6869 13.8595 14.026 13.6095 14.2761C13.3594 14.5261 13.0203 14.6666 12.6667 14.6666H3.33333C2.97971 14.6666 2.64057 14.5261 2.39052 14.2761C2.14048 14.026 2 13.6869 2 13.3333V5.99992Z"
                  stroke="#333333"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6 14.6667V8H10V14.6667"
                  stroke="#333333"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
            <a href="#" class="item">개인정보 처리방침</a>
          </div>
          <div class="wrap-tit">
            <h2 class="tit2">개인정보 처리방침</h2>
          </div>
          <div class="wrap-c-terms">
            <div class="tit">
              재단법인 하늘누리는 귀하의 개인정보보호를 매우 중요시하며 ,
              개인정보보호방침을 통하여 귀하께서 제공하시는 개인정보가 어떠한
              용도와 방식으로 이용되고 있으며 개인정보보호를 위해 어떠한 조치가
              취해지고 있는지 알려드립니다.
            </div>
            <div class="tit">개인정보 수집에 대한 동의</div>
            <div class="desc">
              재단법인 하늘누리는 귀하께 회원가입 시 개인정보보호방침 또는
              이용약관의 내용을 공지 하며 회원가입버튼을 클릭하면 개인정보
              수집에 대해 동의하신 것으로 봅니다.
            </div>
            <div class="tit">개인정보의 수집목적 및 이용목적</div>
            <div class="desc">
              재단법인 하늘누리는 다음과 같은 목적을 위하여 개인정보를 수집하고
              있습니다 .
            </div>
            <ul class="term-lists">
              <li class="item">
                - 재단법인 하늘누리는 서비스를 위한 회원 가입 및 이용아이디 발급
              </li>
              <li class="item">- 서비스의 이행 ( 홈페이지 이용사항 )</li>
              <li class="item">
                - 장애처리 및 개별 회원에 대한 개인 맞춤서비스
              </li>
              <li class="item">- 서비스 이용에 대한 통계 수집</li>
              <li class="item">- 기타 새로운 서비스 및 정보 안내</li>
            </ul>
            <div class="desc">
              단 , 이용자의 기본적 인권 침해의 우려가 있는 민감한 개인정보는
              수집하지 않습니다. 재단법인 하늘누리는 상기 범위 내에서 보다
              풍부한 서비스를 제공하기 위해 이용자의 자의에 의한 추가 정보를
              수집합니다.
            </div>
            <div class="tit">수집하는 개인정보 항목</div>
            <div class="desc">
              재단법인 하늘누리는 회원가입 , 상담 , 서비스 신청 등등을 위해
              아래와 같은 개인정보를 수집하고 있습니다.
            </div>
            <ul class="term-lists">
              <li class="item">
                - 수집항목 : 이름 , 로그인 ID(이메일) , 비밀번호 ,휴대전화번호,
                서비스 이용기록 , 접속 로그 , 쿠키 , 접속 IP 정보
              </li>
              <li class="item">
                - 개인정보 수집방법 : 홈페이지 ( 회원가입 , 게시판 )
              </li>
            </ul>
            <div class="tit">개인정보정책 책임자</div>
            <ul class="term-lists sub">
              <li class="item">성 명 : 홍길동</li>
              <li class="item">소 속 : 재단법인 하늘누리</li>
              <li class="item">연락처 : 000-0000-0000</li>
              <li class="item">이메일 : abc@hanmail.net</li>
            </ul>
            <div class="desc">
              [ 시행일 ] 본 개인정보보호정책은 2026년 3월 1일부터 시행합니다 .
            </div>
          </div>
        </div>
      </main>
      <!-- Footer -->
      <footer class="footer">
        <div class="wrap-footer">
          <h2 class="tit2">하늘누리 추모공원</h2>
          <div class="wrap-compony">
            <div class="wrap-terms">
              <a class="item" href="#">서비스 이용약관</a>
              <a class="item" href="#">개인정보 처리방침</a>
            </div>
            <div class="wrap-info">
              <div class="text">
                <strong>재단법인 하늘누리 추모공원</strong>
              </div>
              <div class="wrap-text">
                <div class="text">
                  <span>사업자등록번호</span><strong>155-77-88888</strong>
                </div>
                <div class="text">
                  <span>대표번호</span><strong>031-999-9999</strong>
                </div>
                <div class="text">
                  <span>주소</span><strong>경기도 양주시 산북동 산67-20</strong>
                </div>
              </div>
            </div>
            <div class="copyright">
              Copyright 2026 haneulnuri. All Right Reserved
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
