<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>서비스 이용약관</title>
    <link rel="stylesheet" href="../../dist/main.css" />
  </head>
  <body>
    <div class="cont">
      <!-- Header -->
      <header class="header">
        <div class="wrap-header">
          <div class="wrap-mo">
            <a href="#" class="tit1"><h1>하늘누리 추모공원</h1></a>
            <button type="button" class="btn-menu">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
              >
                <path
                  d="M3 16H29"
                  stroke="#333333"
                  stroke-width="2"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                />
                <path
                  d="M3 26H29"
                  stroke="#333333"
                  stroke-width="2"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                />
                <path
                  d="M3 6H29"
                  stroke="#333333"
                  stroke-width="2"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                />
              </svg>
            </button>
          </div>
          <div class="wrap-pc">
            <div class="wrap-header-account">
              <a href="#" class="tit1"><h1>하늘누리 추모공원</h1></a>
              <div class="wrap-account">
                <a href="#" class="item">회원가입</a>
                <a href="#" class="item">로그인</a>
              </div>
            </div>
            <nav class="lnb">
              <a href="#" class="item">하늘누리소개</a>
              <a href="#" class="item">시설안내</a>
              <a href="#" class="item">분양안내</a>
              <a href="#" class="item">사이버추모관</a>
              <a href="#" class="item">고객센터</a>
            </nav>
          </div>
        </div>
      </header>
      <!-- Body -->
      <main>
        <div class="main">
          <div class="breadcrumb">
            <a href="#" class="item">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
              >
                <path
                  d="M2 5.99992L8 1.33325L14 5.99992V13.3333C14 13.6869 13.8595 14.026 13.6095 14.2761C13.3594 14.5261 13.0203 14.6666 12.6667 14.6666H3.33333C2.97971 14.6666 2.64057 14.5261 2.39052 14.2761C2.14048 14.026 2 13.6869 2 13.3333V5.99992Z"
                  stroke="#333333"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M6 14.6667V8H10V14.6667"
                  stroke="#333333"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </a>
            <a href="#" class="item">서비스 이용약관</a>
          </div>
          <div class="wrap-tit">
            <h2 class="tit2">서비스 이용약관</h2>
          </div>
          <div class="wrap-c-terms">
            <div class="tit">제 1조 (목적)</div>
            <div class="desc">
              이 약관은 재단법인 하늘누리(이하 '회사'라 표기합니다)가 제공하는
              홈페이지 서비스의 이용조건 및 절차, 기타 필요한 사항을 규 정함을
              목적으로 합니다.
            </div>
            <div class="tit">제 2 조 (약관의 효력과 변경)</div>
            <ul class="term-lists">
              <li class="item">
                1. 이 약관은 이용자에게 공지함으로써 효력을 발생합니다.
              </li>
              <li class="item">
                2. 이 약관의 내용은 서비스 화면 내에 게시하며 약관의 변경 사항이
                있을 경우 회사의 온라인 공지사항을 통해 공지합니다.
              </li>
              <li class="item">
                3. 회사는 필요하다고 인정되는 경우 이 약관을 개정할 수 있으며
                변경된 약관은 제 1 항과 같은 방법으로 효력을 발생합니다.
              </li>
            </ul>
            <div class="tit">제 3 조 (약관적용외 준칙)</div>
            <ul class="term-lists">
              <li class="item">
                1. 이 약관은 당사가 제공하는 서비스에 관한 이용규정 및 별도
                약관과 함께 적용됩니다.
              </li>
              <li class="item">
                2. 이 약관에 명시되지 않은 사항이 관계법령에 규정되어 있을
                경우에는 그 규정에 따릅니다.
              </li>
            </ul>
            <div class="tit">제 6 조 (회원자격 탈퇴 및 자격상실)</div>
            <ul class="term-lists">
              <li class="item">가. 타인의 명의를 도용하여 신청하였을 때</li>
              <li class="item">
                나. 이용 계약 신청서의 내용을 허위로 기재하거나 허위서류를
                첨부하여 신청하였을 때
              </li>
              <li class="item">
                다. 사회의 안녕이나 혹은 미풍양속을 저해할 목적으로 신청하였을
                때
              </li>
              <li class="item">
                라. 다른 사람의 당사서비스 이용을 방해하거나 그 정보를 도용하는
                등의 행위를 하였을때
              </li>
            </ul>
            <div class="tit">제 7 조 (서비스의 제공 및 이용)</div>
            <ul class="term-lists sub">
              <li class="item">
                1. 서비스의 이용은 회사의 업무상 또는 기술상 특별한 지장이 없는
                한 연중무휴 1일 24시간을 원칙으로 합니다.
              </li>
              <li class="item">
                2. 회사는 다음 각 호에 해당하는 경우 서비스 제공을 중지할 수
                있습니다.
                <ul class="term-lists sub">
                  <li class="item">가. 시스템 정비를 위하여 부득이한 경우</li>
                  <li class="item">
                    나. 전기통신사업법에 규정된 기간통신사업자가 전기통신
                    서비스를 중지하는 경우
                  </li>
                  <li class="item">
                    다. 기타 회사가 서비스를 제공할 수 없는 사유가 발생할 경우
                  </li>
                </ul>
              </li>
              <li class="item">
                3. 당사가 제공하는 서비스는 아래와 같으며,그 변경될 서비스의
                내용을 이용자에게 공지하고 아래에서 정한 서비스를 변경하 여 제공
                할 수 있습니다.
                <ul class="term-lists sub">
                  <li class="item">가. 시스템 정비를 위하여 부득이한 경우</li>
                  <li class="item">
                    나. 전기통신사업법에 규정된 기간통신사업자가 전기통신
                    서비스를 중지하는 경우
                  </li>
                  <li class="item">
                    다. 기타 회사가 서비스를 제공할 수 없는 사유가 발생할 경우
                  </li>
                </ul>
              </li>
            </ul>
            <div class="tit">부칙</div>
            <ul class="term-lists">
              <li class="item">
                1. (시행일) 이 약관은 2026년 3월 1일부터 시행된다.
              </li>
            </ul>
          </div>
        </div>
      </main>
      <!-- Footer -->
      <footer class="footer">
        <div class="wrap-footer">
          <h2 class="tit2">하늘누리 추모공원</h2>
          <div class="wrap-compony">
            <div class="wrap-terms">
              <a class="item" href="#">서비스 이용약관</a>
              <a class="item" href="#">개인정보 처리방침</a>
            </div>
            <div class="wrap-info">
              <div class="text">
                <strong>재단법인 하늘누리 추모공원</strong>
              </div>
              <div class="wrap-text">
                <div class="text">
                  <span>사업자등록번호</span><strong>155-77-88888</strong>
                </div>
                <div class="text">
                  <span>대표번호</span><strong>031-999-9999</strong>
                </div>
                <div class="text">
                  <span>주소</span><strong>경기도 양주시 산북동 산67-20</strong>
                </div>
              </div>
            </div>
            <div class="copyright">
              Copyright 2026 haneulnuri. All Right Reserved
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
