<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>admin - 사이버 추모관</title>
    <link rel="stylesheet" href="../../dist/main.css" />
  </head>
  <body>
    <div class="container admin">
      <header class="header">
        <a class="home" href="/" target="_blank" rel="noopener noreferrer"
          >하늘누리 추모공원</a
        >
        <div class="wrap-login">
          <div class="wrap-status">
            <span class="user">Admin</span>
            <span class="text">님이 로그인 하였습니다.</span>
          </div>
          <button type="button" class="btn line h32">
            <span>LOGOUT</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M20.7372 12.3052C20.8182 12.1102 20.8182 11.8892 20.7372 11.6932C20.6992 11.6032 20.6432 11.5232 20.5772 11.4532C20.5712 11.4472 20.5702 11.4392 20.5642 11.4332L17.5642 8.43322C17.2512 8.12122 16.7462 8.12122 16.4332 8.43322C16.1202 8.74622 16.1202 9.25221 16.4332 9.56521L18.0672 11.1992H11.9992C11.5582 11.1992 11.1992 11.5572 11.1992 11.9992C11.1992 12.4402 11.5572 12.7992 11.9992 12.7992H18.0672L16.4332 14.4332C16.1202 14.7462 16.1202 15.2532 16.4332 15.5662C16.5892 15.7212 16.7932 15.7992 16.9982 15.7992C17.2032 15.7992 17.4072 15.7212 17.5632 15.5662L20.5632 12.5662C20.5692 12.5602 20.5702 12.5522 20.5762 12.5462C20.6432 12.4762 20.6992 12.3962 20.7372 12.3052Z"
                fill="#4A4A4A"
              />
              <path
                d="M16.6632 17.4682C15.3592 18.5842 13.7032 19.1992 11.9992 19.1992C8.02921 19.1992 4.79919 15.9702 4.79919 11.9992C4.79919 8.02924 8.02921 4.79922 11.9992 4.79922C13.5592 4.79922 15.0492 5.30022 16.3092 6.24722C16.6622 6.51422 17.1642 6.44223 17.4292 6.08923C17.6952 5.73623 17.6232 5.23524 17.2702 4.96924C15.7312 3.81124 13.9092 3.19922 11.9992 3.19922C7.14621 3.19922 3.19922 7.14624 3.19922 11.9992C3.19922 16.8522 7.14621 20.7992 11.9992 20.7992C14.0842 20.7992 16.1102 20.0482 17.7042 18.6832C18.0392 18.3962 18.0792 17.8912 17.7912 17.5552C17.5042 17.2202 16.9992 17.1812 16.6632 17.4682Z"
                fill="#4A4A4A"
              />
            </svg>
          </button>
        </div>
      </header>
      <main class="main">
        <div class="lnb">
          <ul class="lnb-lv01">
            <li class="item">
              <div class="item-wrap">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M12 10C13.6569 10 15 8.65685 15 7C15 5.34315 13.6569 4 12 4C10.3431 4 9 5.34315 9 7C9 8.65685 10.3431 10 12 10Z"
                    stroke="white"
                    stroke-width="1.6"
                    stroke-miterlimit="10"
                  />
                  <path
                    d="M3 22C3 17 7 13 12 13C17 13 21 17 21 22"
                    stroke="white"
                    stroke-width="1.6"
                    stroke-miterlimit="10"
                  />
                  <path
                    d="M12 14V14.6"
                    stroke="white"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                  />
                  <path
                    d="M12 18V21"
                    stroke="white"
                    stroke-width="2"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                  />
                </svg>
                <div class="item-text">관리자 관리</div>
              </div>
              <ul class="lnb-lv02">
                <!-- ToDo: 활성화시 .active 추가 -->
                <li class="item">
                  <a class="item-wrap" href="./admin_list.html">
                    <div class="item-text">관리자 관리</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="item">
              <div class="item-wrap">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M12 9C13.3807 9 14.5 7.88071 14.5 6.5C14.5 5.11929 13.3807 4 12 4C10.6193 4 9.5 5.11929 9.5 6.5C9.5 7.88071 10.6193 9 12 9Z"
                    stroke="white"
                    stroke-width="1.6"
                    stroke-miterlimit="10"
                  />
                  <path
                    d="M19 11C20.1046 11 21 10.1046 21 9C21 7.89543 20.1046 7 19 7C17.8954 7 17 7.89543 17 9C17 10.1046 17.8954 11 19 11Z"
                    fill="white"
                  />
                  <path
                    d="M5 11C6.10457 11 7 10.1046 7 9C7 7.89543 6.10457 7 5 7C3.89543 7 3 7.89543 3 9C3 10.1046 3.89543 11 5 11Z"
                    fill="white"
                  />
                  <path
                    d="M3 21C3 16 7 12 12 12C17 12 21 16 21 21"
                    stroke="white"
                    stroke-width="1.6"
                    stroke-miterlimit="10"
                  />
                </svg>
                <div class="item-text">회원관리</div>
              </div>
              <ul class="lnb-lv02">
                <!-- ToDo: 활성화시 .active 추가 -->
                <li class="item">
                  <a class="item-wrap" href="./user_manage.html">
                    <div class="item-text">회원 관리</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="item">
              <div class="item-wrap">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M20.1207 5.19724C18.1115 3.53793 15.1128 3.83781 13.2635 5.67704L12.7038 6.23681C12.3139 6.62664 11.6842 6.62664 11.2944 6.23681L10.7346 5.67704C8.88536 3.82781 5.88661 3.52793 3.87745 5.19724C1.56841 7.10644 1.44846 10.525 3.5176 12.5942L9.97491 19.0515C11.0944 20.171 12.9037 20.171 14.0232 19.0515L20.4805 12.5942C22.5497 10.525 22.4297 7.10644 20.1207 5.19724Z"
                    stroke="white"
                    stroke-width="1.6"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M12.3541 15.6492V14.8795C12.3541 13.4963 13.4726 12.3658 14.8677 12.3658H15.6375C15.8419 12.3658 15.9983 12.2095 15.9983 12.005C15.9983 11.8005 15.8419 11.6442 15.6375 11.6442H14.8677C13.4846 11.6442 12.3541 10.5136 12.3541 9.13054V8.36081C12.3541 8.15635 12.1977 8 11.9933 8C11.7888 8 11.6325 8.15635 11.6325 8.36081V9.13054C11.6325 10.5136 10.514 11.6442 9.11882 11.6442H8.34909C8.14463 11.6442 7.98828 11.8005 7.98828 12.005C7.98828 12.2095 8.14463 12.3658 8.34909 12.3658H9.11882C10.5019 12.3658 11.6325 13.4843 11.6325 14.8795V15.6492C11.6325 15.8536 11.7888 16.01 11.9933 16.01C12.1977 16.01 12.3541 15.8536 12.3541 15.6492Z"
                    fill="white"
                  />
                </svg>
                <div class="item-text">사이버추모관</div>
              </div>
              <ul class="lnb-lv02">
                <!-- ToDo: 활성화시 .active 추가 -->
                <li class="item active">
                  <a class="item-wrap" href="./cyber_room_list.html">
                    <div class="item-text">고인 관리</div>
                  </a>
                </li>
                <li class="item">
                  <a class="item-wrap" href="./letter_list.html">
                    <div class="item-text">하늘편지 관리</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="item">
              <div class="item-wrap">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M11.8 4.40031L8.70001 7.50031H4.10001C3.20001 7.50031 2.5 8.20032 2.5 9.10032V14.8003C2.5 15.7003 3.20001 16.4003 4.10001 16.4003H8.70001L11.8 19.5003C12.3 20.0003 13.2 19.6003 13.2 18.9003V11.9003V4.90031C13.2 4.30031 12.3 3.90031 11.8 4.40031Z"
                    stroke="white"
                    stroke-width="1.6"
                    stroke-miterlimit="10"
                  />
                  <path
                    d="M16.6992 7.30078C19.2992 9.90078 19.2992 14.1008 16.6992 16.8008"
                    stroke="white"
                    stroke-width="1.6"
                    stroke-miterlimit="10"
                  />
                  <path
                    d="M19.1016 4.90039C23.0016 8.80039 23.0016 15.2004 19.1016 19.1004"
                    stroke="white"
                    stroke-width="1.6"
                    stroke-miterlimit="10"
                  />
                </svg>
                <div class="item-text">고객센터</div>
              </div>
              <ul class="lnb-lv02">
                <li class="item">
                  <a class="item-wrap" href="./notice_list.html">
                    <div class="item-text">공지사항</div>
                  </a>
                </li>
                <li class="item">
                  <a class="item-wrap" href="./counsel_list.html">
                    <div class="item-text">1:1 상담</div>
                  </a>
                </li>
                <li class="item">
                  <a class="item-wrap" href="./archive_list.html">
                    <div class="item-text">자료실</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="item">
              <div class="item-wrap">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M19 4H5C4.44772 4 4 4.44772 4 5V19C4 19.5523 4.44772 20 5 20H19C19.5523 20 20 19.5523 20 19V5C20 4.44772 19.5523 4 19 4Z"
                    stroke="white"
                    stroke-width="1.6"
                    stroke-miterlimit="10"
                  />
                  <path
                    d="M16.1992 6.5H17.7992"
                    stroke="white"
                    stroke-width="1.6"
                    stroke-miterlimit="10"
                  />
                  <path
                    d="M4 9C10.2484 9 13.7516 9 20 9"
                    stroke="white"
                    stroke-width="1.6"
                    stroke-miterlimit="10"
                  />
                </svg>
                <div class="item-text">팝업 관리</div>
              </div>
              <ul class="lnb-lv02">
                <li class="item">
                  <a class="item-wrap" href="./popup_list.html">
                    <div class="item-text">팝업 관리</div>
                  </a>
                </li>
              </ul>
            </li>
            <li class="item">
              <div class="item-wrap">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M15 6H4C3.44772 6 3 6.44772 3 7V20C3 20.5523 3.44772 21 4 21H15C15.5523 21 16 20.5523 16 20V7C16 6.44772 15.5523 6 15 6Z"
                    stroke="white"
                    stroke-width="1.6"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M9 6V4C9 3.44772 9.44772 3 10 3H20C20.5523 3 21 3.44772 21 4V17C21 17.5523 20.5523 18 20 18H16.5"
                    stroke="white"
                    stroke-width="1.6"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M6 11H13"
                    stroke="white"
                    stroke-width="1.6"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M6 14H13"
                    stroke="white"
                    stroke-width="1.6"
                    stroke-linejoin="round"
                  />
                </svg>
                <div class="item-text">브로슈어 신청</div>
              </div>
              <ul class="lnb-lv02">
                <li class="item">
                  <a class="item-wrap" href="./brochure_list.html">
                    <div class="item-text">브로슈어 신청</div>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="contents">
          <!-- title -->
          <div class="wrap-tit">
            <h2 class="tit01">고인 관리</h2>
          </div>
          <div class="wrap-table-control">
            <div class="wrap-table-control-left">
              <div class="wrap-count">
                총 고인등록 수:
                <div class="count">000명</div>
              </div>
            </div>
            <div class="wrap-table-control-right">
              <div class="input-group h40">
                <div class="select-wrapper">
                  <select class="input-box select" style="width: 160px">
                    <option value="">선택하세요</option>
                    <option value="1">OPTION 1</option>
                    <option value="2">OPTION 2</option>
                    <option value="3">OPTION 3</option>
                  </select>
                  <span class="error-message">
                    <span class="error-icon">!</span>
                    에러메세지
                  </span>
                </div>
              </div>
              <div class="wrap-form">
                <div class="input-group h40">
                  <input type="text" class="input-box" style="width: 325px" />
                  <span class="error-message">
                    <span class="error-icon">!</span>
                    에러메세지
                  </span>
                </div>
              </div>
              <button type="button" class="btn primary small">
                <span>검색</span>
              </button>
            </div>
          </div>
          <!-- table -->
          <table class="table board-table">
            <thead>
              <tr>
                <th scope="col" style="width: 60px">
                  <label class="checkbox-item">
                    <input type="checkbox" class="checkbox-input" />
                  </label>
                </th>
                <th scope="col" style="width: calc((100% - 60px) / 6)">
                  고인코드번호
                </th>
                <th scope="col" style="width: calc((100% - 60px) / 6)">
                  고인명
                </th>
                <th scope="col" style="width: calc((100% - 60px) / 6)">구분</th>
                <th scope="col" style="width: calc((100% - 60px) / 6)">
                  안치장소
                </th>
                <th scope="col" style="width: calc((100% - 60px) / 6)">기일</th>
                <th scope="col" style="width: calc((100% - 60px) / 6)">
                  등록일
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <label class="checkbox-item">
                    <input type="checkbox" class="checkbox-input" />
                  </label>
                </td>
                <td style="width: calc((100% - 60px) / 6)">D0126030101</td>
                <td style="width: calc((100% - 60px) / 6)">故 홍길동</td>
                <td style="width: calc((100% - 60px) / 6)">하늘누리관</td>
                <td style="width: calc((100% - 60px) / 6)">
                  OO관 O열 01(번호)
                </td>
                <td style="width: calc((100% - 60px) / 6)">1940-11-24</td>
                <td style="width: calc((100% - 60px) / 6)">2025-12-12</td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox-item">
                    <input type="checkbox" class="checkbox-input" />
                  </label>
                </td>
                <td style="width: calc((100% - 60px) / 6)">D0126030101</td>
                <td style="width: calc((100% - 60px) / 6)">故 홍길동</td>
                <td style="width: calc((100% - 60px) / 6)">하늘누리관</td>
                <td style="width: calc((100% - 60px) / 6)">
                  OO관 O열 01(번호)
                </td>
                <td style="width: calc((100% - 60px) / 6)">1940-11-24</td>
                <td style="width: calc((100% - 60px) / 6)">2025-12-12</td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox-item">
                    <input type="checkbox" class="checkbox-input" />
                  </label>
                </td>
                <td style="width: calc((100% - 60px) / 6)">D0126030101</td>
                <td style="width: calc((100% - 60px) / 6)">故 홍길동</td>
                <td style="width: calc((100% - 60px) / 6)">하늘누리관</td>
                <td style="width: calc((100% - 60px) / 6)">
                  OO관 O열 01(번호)
                </td>
                <td style="width: calc((100% - 60px) / 6)">1940-11-24</td>
                <td style="width: calc((100% - 60px) / 6)">2025-12-12</td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox-item">
                    <input type="checkbox" class="checkbox-input" />
                  </label>
                </td>
                <td style="width: calc((100% - 60px) / 6)">D0126030101</td>
                <td style="width: calc((100% - 60px) / 6)">故 홍길동</td>
                <td style="width: calc((100% - 60px) / 6)">하늘누리관</td>
                <td style="width: calc((100% - 60px) / 6)">
                  OO관 O열 01(번호)
                </td>
                <td style="width: calc((100% - 60px) / 6)">1940-11-24</td>
                <td style="width: calc((100% - 60px) / 6)">2025-12-12</td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox-item">
                    <input type="checkbox" class="checkbox-input" />
                  </label>
                </td>
                <td>D0126030101</td>
                <td>故 홍길동</td>
                <td>하늘누리관</td>
                <td>OO관 O열 01(번호)</td>
                <td>1940-11-24</td>
                <td>2025-12-12</td>
              </tr>
            </tbody>
          </table>
          <!-- board button -->
          <div class="wrap-board-btn">
            <div class="wrap-btn-left">
              <button type="button" class="btn line small">
                <span>삭제</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M19.1119 3.78009H13.7778C13.7778 3.29279 13.3801 2.89844 12.8886 2.89844H11.1113C10.6187 2.89844 10.2221 3.29279 10.2221 3.78009H4.88804C4.39657 3.78009 4 4.17448 4 4.66179C4 5.14795 4.39772 5.54344 4.88804 5.54344H19.1119C19.6034 5.54344 20 5.14795 20 4.66179C20.0011 4.17562 19.6034 3.78009 19.1119 3.78009Z"
                    fill="#4A4A4A"
                  />
                  <path
                    d="M17.2722 8.48992L16.4013 17.9696C16.3978 18.0081 16.3956 18.0456 16.3944 18.0852H7.60642C7.60527 18.0467 7.60294 18.0093 7.59951 17.9696L6.72864 8.48992H17.2722ZM17.3351 6.6767H6.6669C5.68626 6.6767 4.88845 7.46547 4.88845 8.43894L5.77768 18.1351C5.77768 19.1074 6.5732 19.8984 7.55612 19.8984H16.4447C17.4265 19.8984 18.2231 19.1086 18.2231 18.1351L19.1123 8.43894C19.1123 7.46547 18.3157 6.6767 17.3351 6.6767Z"
                    fill="#4A4A4A"
                  />
                  <path
                    d="M12.0006 17.065C11.6851 17.065 11.4291 16.8111 11.4291 16.4984V10.372C11.4291 10.0592 11.6851 9.80533 12.0006 9.80533C12.316 9.80533 12.572 10.0592 12.572 10.372V16.4984C12.572 16.8111 12.316 17.065 12.0006 17.065Z"
                    fill="#4A4A4A"
                  />
                  <path
                    d="M9.51043 17.0645C9.22013 17.0645 8.97096 16.8457 8.94238 16.5533L8.33548 10.4269C8.30576 10.1153 8.53553 9.83766 8.8487 9.80819C9.16186 9.78439 9.44416 10.0054 9.47388 10.317L10.0808 16.4434C10.1105 16.7551 9.88073 17.0327 9.56757 17.0633C9.54814 17.0633 9.52986 17.0645 9.51043 17.0645Z"
                    fill="#4A4A4A"
                  />
                  <path
                    d="M14.491 17.0645C14.7813 17.0645 15.0304 16.8457 15.059 16.5533L15.6659 10.4269C15.6956 10.1153 15.4659 9.83766 15.1528 9.80819C14.8396 9.78439 14.5573 10.0054 14.5276 10.317L13.9207 16.4434C13.891 16.7551 14.1207 17.0327 14.4338 17.0633C14.4533 17.0633 14.4727 17.0645 14.491 17.0645Z"
                    fill="#4A4A4A"
                  />
                </svg>
              </button>
            </div>
            <div class="wrap-btn-right">
              <button type="button" class="btn primary small">
                <span>고인 등록</span>
              </button>
            </div>
          </div>
          <!-- pager -->
          <div class="wrap-pager">
            <!-- ToDo: 앞으로 갈 페이지가 없을때 .disabled 추가 -->
            <div class="arrow first disabled">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                viewBox="0 0 30 30"
                fill="none"
              >
                <path
                  d="M15.5 8.75L9.25 15L15.5 21.25"
                  stroke="#2D2D2D"
                  stroke-width="1.4"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M19.5 8.75L13.25 15L19.5 21.25"
                  stroke="#2D2D2D"
                  stroke-width="1.4"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="arrow before">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                viewBox="0 0 30 30"
                fill="none"
              >
                <path
                  d="M17.5 8.75L11.25 15L17.5 21.25"
                  stroke="#2D2D2D"
                  stroke-width="1.4"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="num">1</div>
            <div class="num active">2</div>
            <div class="num">3</div>
            <div class="num">4</div>
            <div class="num">5</div>
            <div class="arrow next">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                viewBox="0 0 30 30"
                fill="none"
              >
                <path
                  d="M12.5 8.75L18.75 15L12.5 21.25"
                  stroke="#2D2D2D"
                  stroke-width="1.4"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <!-- ToDo: 뒤로 갈 페이지가 없을때 .disabled 추가 -->
            <div class="arrow last">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="30"
                height="30"
                viewBox="0 0 30 30"
                fill="none"
              >
                <path
                  d="M10.5 8.75L16.75 15L10.5 21.25"
                  stroke="#2D2D2D"
                  stroke-width="1.4"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M14.5 8.75L20.75 15L14.5 21.25"
                  stroke="#2D2D2D"
                  stroke-width="1.4"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
