@use "./abstracts/typography";
@use "./abstracts/variables" as *;
@use "./abstracts/mixins";

.wrap-login {
  .login-cont {
    width: 336px;
    padding: 60px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    border-top-left-radius: 32px;
    border-top-right-radius: 72px;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 72px;
    .tit-login {
      @include mixins.ff(28, 1.4, nb);
      color: #65451e;
      position: relative;
      &::before {
        content: "";
        display: block;
        width: 26px;
        height: 4px;
        background-color: #65451e;
        border-radius: 20px;
        position: absolute;
        bottom: -6px;
        left: 0;
      }
      &::after {
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        background-color: #65451e;
        border-radius: 50%;
        position: absolute;
        bottom: -6px;
        left: 28px;
      }
    }
    .form-login {
      margin-top: 32px;
      .error-message {
        display: none;
        background-color: #fff4f4;
        border-radius: 4px;
        padding: 10px 12px;
        @include mixins.ff(18, 1.4);
        color: #c00404;

        + .form-tit {
          margin-top: 20px;
        }
      }
      &.error {
        .error-message {
          display: block;
        }
      }
      .form-tit {
        @include mixins.ff(14, 1.4, nb);
        color: #333333;
        + .input-group {
          margin-top: 8px;
          + .form-tit {
            margin-top: 20px;
          }
        }
      }
      .checkbox-group {
        margin-top: 13px;
        .checkbox-label {
          @include mixins.ff(16, 1.4);
          color: #333333;
        }
      }
      .btn {
        margin-top: 32px;
      }
    }
  }
  .alert-text {
    margin-top: 20px;
    @include mixins.ff(14, 2);
    color: #4a4a4a;
    text-align: center;
  }
}
.wrap-find {
  margin: 32px;
  @include mixins.flex-container(justify-center items-center);
  .btn {
    padding: 0 20px;
    position: relative;
    &:not(:first-child) {
      &::before {
        content: "";
        display: block;
        width: 1px;
        height: 14px;
        background-color: #333333;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }
  }
}
