@use "../abstracts/typography";
@use "../abstracts/variables" as *;
@use "../abstracts/mixins";

.container {
  min-width: 1280px;
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  &.login {
    @include mixins.flex-container(justify-center items-center);
  }
  .header {
    background-color: #65451e;
    border-bottom: 1px solid #332518;
    padding: 15px 20px;
    @include mixins.flex-container(justify-between items-center);

    .home {
      display: inline-block;
      padding: 6px 21px;
      @include mixins.ff(20, 1, nsm);
      color: $white;
    }
    .wrap-login {
      @include mixins.flex-container(items-center);
      gap: 20px;

      .wrap-status {
        @include mixins.flex-container(items-center);
        gap: 8px;
        .user {
          @include mixins.ff(16, 1.4, nm);
          color: $white;
          text-decoration: uppercase;
        }
        .text {
          @include mixins.ff(14, 1.4, nr);
          color: $white;
        }
      }
    }
  }
  .main {
    display: flex;
    .lnb {
      background-color: #65451e;
      padding: 0 10px;
      width: 240px;
      height: calc(100vh - 63px);
      position: sticky;
      top: 0;
      overflow-y: auto;
      .lnb-lv01 {
        list-style: none;
        margin: 0;
        padding: 0;
        .item {
          .item-wrap {
            padding: 16px;
            @include mixins.flex-container(items-center);
            flex-wrap: wrap;
            gap: 8px;
            .item-text {
              @include mixins.ff(16, 1.4, nb);
              color: $white;
            }
          }
          .lnb-lv02 {
            list-style: none;
            width: 100%;
            margin: 0;
            padding: 0;
            .item {
              position: inherit;
              background-color: transparent;
              border-radius: 4px;
              transition: background-color 0.1s ease; /* 색상만 부드럽게 */
              .item-wrap {
                padding: 9px 16px 9px 48px;
                cursor: pointer;
                position: relative;
                .item-text {
                  @include mixins.ff(16, 1.4);
                  color: $white;
                }
              }
              &.active {
                .item-wrap::before {
                  content: "";
                  width: 20px;
                  height: 20px;
                  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIj4KPHBhdGggZD0iTTE3IDExLjVMMTAgMTguNSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+CjxwYXRoIGQ9Ik0xMCA0LjVMMTcgMTEuNSIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIxLjUiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPgo8L3N2Zz4=")
                    no-repeat center;
                  position: absolute;
                  right: 16px;
                  top: 50%;
                  transform: translateY(-50%);
                }
              }
              &.active,
              &:hover,
              &:focus {
                position: relative;
                background-color: #332518;
              }
            }
          }
        }
      }
    }
    .contents {
      width: 100%;
      padding: 0 20px;
      .wrap-tit {
        .tit01 {
          @include mixins.ff(24, 1.4, nb);
          color: #232527;
          position: relative;
          margin-left: 18px;
          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: -13px;
            transform: translateY(-50%);
            width: 8px;
            height: 8px;
            background-color: #161616;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
